.name_font {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 46px;
    color: #19ca99;
}

.description {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    margin-bottom: 40px;
    margin-top: 0;
}

.project_attribute {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 36px;
    color: #3949AB;
    font-family: 'Montserrat', sans-serif;
}

.row_even {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.goal_money {
    font-family: 'Montserrat', sans-serif;
    color: #3949AB;
    font-size: 20px;
    margin-top: 20px;
}

.col_create {
    flex-direction: column;
    display: flex;
}

.video-size {
    width: 700px;
}

.row_create {
    display: flex;
    flex-direction: row;
}

.progress_bar {
    width: 100%;

}

.tabs .tab a{
    color: #3949AB;
}

.tabs .tab a:hover {
    background-color: #3949AB;
    color:#FFFFFF;
}

.tabs .indicator {
    background-color: #3949AB;
}

.tabs .tab a:focus.active {
    color: #19ca99;
    /*Custom Text Color While Active*/
    background-color: rgba(38, 166, 154, 0.2);
    /*Custom Background Color While Active*/
}